.affix {
    top: 0;
    left:0;
    width:100%;    
    z-index: 99;  
}

.navbar-brand {
	padding: 0px;
}

.navbar-brand > img {
	height: 100%;
	width: auto;
	display: inline;
}

.navbar{
    margin-bottom: 0;
    border: 0;
  }