  .homeContainer{
    position: absolute;
    top: 100px;
    width:100%;
    text-align: center;
  }
  
  .homeText{
    vertical-align: middle;	
    color: white;
  }

  #home{	
    background-image: none;
    background-color: #1e90ff;
    width: 100%;
    height: 60vh;	
  }

  .cd-words-wrapper {
    display: block;
    position: relative;
  }
  
  .cd-words-wrapper b {
    display: block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
  }
  
  .roles{
   display: block;
   font-weight: bold;
  }
  